<h3>Halo, <%= @schedule.person.name %>!</h3>

Email ini adalah pengingat bahwa Anda memiliki jadwal pelayanan sebagai berikut:

<br/><br/>

<table class="table table-hover table-bordered">
    <tr>
        <td width="35%">Ibadah</td>
        <td>: <a href="<%= service_url(@schedule.service) %>"><%= @schedule.service.name %></a></td>
    </tr>
    <tr>
        <td>Tanggal</td>
        <td>: <%= @schedule.service.date %></td>
    </tr>
    <tr>
        <td>Role</td>
        <td>: <%= @schedule.role.name %></td>
    </tr>
</table>

<br/>

<a href="<%= service_url(@schedule.service) %>">Lihat detil jadwal</a>

<br/>

<p>Selamat melayani!</p>
