 <script type="text/javascript">
    var row = 0;

    $( document ).ready(function() {
      console.log("Document Ready. Add one row to 'person-incharge-table' table.. row = " + row);

      <% @service.schedules.each do |s| %>
      addRow("<%= s.role.name %>", "<%= s.role.id %>", "<%= s.person.name %>", "<%= s.person.id %>");
      <% end %>

    });

    function getRow(role, roleID, person, personID){

      role = (role == undefined) ? "" : role;
      roleID = (roleID == undefined) ? "" : roleID;
      person = (person == undefined) ? "" : person;
      personID = (personID == undefined) ? "" : personID;

      row += 1;
      return "<tr id=row-"+ row +" class=\'content\'>"+
                "<td>" +
                  "<span id=role-text-"+ row +" >"+ role +"</span>" +
                  "<input type=hidden id=role-id-"+ row +" name=service[role][] value=\""+ roleID +"\" />" +
                "</td>" +
                "<td><a href='javascript:' onclick='pop_role("+ row +")' class=\"btn btn-default btn-xs\"><span class=\"glyphicon glyphicon-export\"></span> Choose</a></td>" +
                "<td>" +
                  "<span id=person-text-"+ row +" >"+ person +"</span>" +
                  "<input type=hidden id=person-id-"+ row +" name=service[person][] value=\""+ personID +"\" />" +
                "</td>" +
                "<td><a href='javascript:' onclick='pop_people(" + row + ")' class=\"btn btn-default btn-xs\"><span class=\"glyphicon glyphicon-export\"></span> Choose</a></td>" +
                "<td><a href=javascript:deleteRow("+ row +") class=\"btn btn-default btn-xs\"><span class=\"glyphicon glyphicon-remove-circle\"></span> Delete Row</a></td>" +
              "</tr>";
    }

    function pop_role(row){
      pop("<%= popup_roles_path %>?target="+ row +"&name=role");
    }

    function pop_people(row){
      var roleValue = document.getElementById("role-id-" + row).value;

      if(roleValue == ""){
        alert("Please Choose 'Role' first");
        return;
      }

      pop("<%= popup_people_path %>?target="+ row +"&name=person&role=" + roleValue);
    }

    function addRow(role, roleID, person, personID){
      $('#person-incharge-table').append(getRow(role, roleID, person, personID));
    }

    function deleteRow(row){
      $("#row-" + row).remove();
    }

    function deleteAllRows(){
      if(window.confirm("Are you sure? This is not undo-able!")){
          for(var x = 0; x <= row; x++){
            deleteRow(x);
          }
      }
    }
</script>

<div class="container">
  <div class="row">
    <%= form_for @service, :html => {:role => "form", :class => "form-horizontal"} do |s| %>
      <div class="form-group">
        <div class="col-xs-4">
          <%= s.label :name, :for => "serviceName" %>
          <%= s.text_field :name, :class => "form-control", :id => "serviceName", :placeholder => "Enter Service Name" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-7">
          <%= s.label :description, :for => "serviceDescription" %>
          <%= s.text_area :description, :class => "form-control", :id => "serviceDescription", :placeholder => "Description" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-2">
          <%= s.label :date, :for => "serviceDate" %>
          <%= s.text_field :date, :class => "form-control datepicker-field", :id => "serviceDate"%>
        </div>
      </div>

      <%= s.submit :class => "btn btn-default" %>

      <div align="right" style="padding-top: 10px; padding-bottom: 20px;">
        <a href="javascript: " onclick="addRow();" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-plus"></span> Add More Row
        </a>

        <a href="javascript: " onclick="deleteAllRows();" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-minus"></span> Delete All Rows
        </a>
      </div>

      <table class="table table-hover table-bordered" id="person-incharge-table">
        <thead>
          <tr>
              <th colspan=2>Role</th>
              <th colspan=2>Person</th>
              <th>#</th>
          </tr>
        </thead>

        <tbody>
        </tbody>
      </table>

    <% end %>
  </div>
</div>
