 <script type="text/javascript">

    var personRowCount = 0;
    var attachmentCount = 0;

    $( document ).ready(function() {

      // Set service date to 'today' day for 'add' page
      if($('#serviceDate').val() == ''){
        $('#serviceDate').val($.datepicker.formatDate('yy-mm-dd', getValidDateParam()));
      }

      <% @service.schedules.each do |s| %>
      newPerson("<%= s.id %>", "<%= s.role.name %>", "<%= s.role.id %>", "<%= s.person.name %>", "<%= s.person.id %>", "<%= s.status %>", "<%= service_schedule_path(@service, s) %>");
      <% end %>

      <% @service.attachments.each do |a| %>
      createAttachmentRow("<%= a.id %>", "<%= a.name %>", "<%= a.url %>", "<%= service_attachment_path(@service, a) %>");
      <% end %>
    });

    function createAttachmentRow(attachmentID, name, url, path){
      attachmentID = (attachmentID == undefined) ? "" : attachmentID;
      name = (name == undefined) ? "" : name;
      url = (url == undefined) ? "" : url;
      path = (path == undefined) ? "" : path;

      attachmentCount += 1;

      // "<a href=\"javascript: deleteAttachment("+ attachmentCount +")\" class=\"btn btn-default\" data-method=\"delete\">" +

      $("#attachments-div").append("<div id=attachment-div-"+ attachmentCount +" class=\"input-group\" style=\"margin-bottom:10px\">" +

        <% if action_name.eql?("edit") %>
        "<input type=hidden id=attachment-id-" + attachmentCount + " value=\"" + attachmentID + "\"/>" +
        "<input type=hidden id=attachment-url-path-" + attachmentCount + " value=\"" + path + "\"/>" +
        <% end %>

        "<input name=\"service[attachment_name][]\" type=\"text\" class=\"form-control\" placeholder=\"Attachment Name\" value=\"" + name + "\">" +
        "<input name=\"service[attachment_url][]\" type=\"text\" class=\"form-control\" placeholder=\"Attachment URL (Dropbox/Box)\" value=" + url + ">" +
        "<span class=\"input-group-addon\">" +
          "<a href=javascript: onclick=deleteAttachment("+ attachmentCount +")  class=\"btn btn-default\" data-method=\"delete\" data-remote=true>" +
            "<span class=\"glyphicon glyphicon-remove-circle\"></span>" +
          "</a>" +
        "</span>" +
      "</div>");
    }

    function deleteAttachment(row){
      BootstrapDialog.confirm('Are you sure to delete this attachment?', function(result){
          if(result) {
            <% if action_name.eql?("edit") %>
            $.ajax({
              url: $("#attachment-url-path-" + row).val() ,
              type: "DELETE",
              // dataType: "json",
              data: {"_method":"delete"}
            });
            <% end %>

            $("#attachment-div-" + row).remove();
          }
      });

    }

    function deleteAllAttachments(){
      for(var x = 0; x <= attachmentCount; x++){
        deleteAttachment(x);
      }
    }

    function createPersonRow(scheduleID, role, roleID, person, personID, status, path){

      status = (status == undefined) ? "" : status;
      scheduleID = (scheduleID == undefined) ? "" : scheduleID;
      role = (role == undefined) ? "" : role;
      roleID = (roleID == undefined) ? "" : roleID;
      person = (person == undefined) ? "" : person;
      personID = (personID == undefined) ? "" : personID;
      disabled_class = (status == "confirmed") ? "disabled" : "";
      isConfirmed = (status == "confirmed");
      path = (path == undefined) ? "" : path;
      isRejected = (status == "rejected");

      status_css_class = "";
      if(status == "confirmed"){
        status_css_class = "fa fa-check-square-o";
      }else if(status == "rejected"){
        status_css_class = "fa fa-minus-square";
      }else if(status == "waiting"){
        status_css_class = "fa fa-circle-o-notch fa-spin"
      }

      personRowCount += 1;
      var tr = "<tr id=person-row-"+ personRowCount +" class=\'content "+ (isRejected ? "danger" : "") +"\'>"+
                "<td>" +

                  <% if action_name.eql?("edit") %>
                  "<input type=hidden id=schedule-id-" + personRowCount + " value=\"" + scheduleID + "\"/>" +
                  "<input type=hidden id=schedule-url-path-" + personRowCount + " value=\"" + path + "\"/>" +
                  <% end %>

                  "<input type=hidden id=isconfirmed-"+ personRowCount +" name=service[isConfirmed][] value=\""+ isConfirmed +"\" />" +
                  "<span id=role-text-"+ personRowCount +" >"+ role +"</span>" +
                  "<input type=hidden id=role-id-"+ personRowCount +" name=service[role][] value=\""+ roleID +"\" />" +
                "</td>" +
                "<td><a href='javascript:' onclick='pop_role("+ personRowCount +")' class=\"btn btn-default btn-xs "+ disabled_class +"\"><span class=\"glyphicon glyphicon-export\"></span> Choose</a></td>" +
                "<td>" +
                  "<span id=person-text-"+ personRowCount +" >"+ person +"</span>" +
                  "<input type=hidden id=person-id-"+ personRowCount +" name=service[person][] value=\""+ personID +"\" />" +
                "</td>" +
                "<td><a href='javascript:' onclick='pop_people(" + personRowCount + ")' class=\"btn btn-default btn-xs "+ disabled_class +"\"><span class=\"glyphicon glyphicon-export\"></span> Choose</a></td>" +
                "<td>";

      <%# Show Save Button for new schedule - Ajaxify %>
      <% if action_name.eql?("edit") %>
        if(scheduleID == ""){
          tr += "<a id=save-button-"+ personRowCount +" href=javascript: onclick=savePersonRow("+ personRowCount +") class=\"btn btn-default btn-xs "+ disabled_class +" \"><span class=\"glyphicon glyphicon-floppy-saved\"></span> Save</a>";
        }
      <% end %>

      tr += "<a id=delete-button-"+ personRowCount +" href=javascript: onclick=deletePersonRow("+ personRowCount +") class=\"btn btn-default btn-xs "+ disabled_class +" \"><span class=\"glyphicon glyphicon-remove-circle\"></span> Delete Row</a>";
      tr += "</td>";
      tr += "<td><i id=schedule-status-"+ personRowCount +" class=\""+ status_css_class +"\"></i> "+ status +"</td></tr>";

      return tr;
    }

    function pop_role(row){
      pop("<%= popup_roles_path %>?target="+ row +"&name=role");
    }

    function pop_people(row){
      var roleValue = document.getElementById("role-id-" + row).value;

      if(roleValue == ""){
        alert("Please Choose 'Role' first");
        return;
      }

      pop("<%= popup_people_path %>?target="+ row +"&name=person&role=" + roleValue);
    }

    function newPerson(scheduleID, role, roleID, person, personID, status, path){
      $('#person-incharge-table').append(createPersonRow(scheduleID, role, roleID, person, personID, status, path));
    }

    function savePersonRow(row){

      var role_id = $("#role-id-" + row).val();
      var person_id = $("#person-id-" + row).val();

      if(role_id == "" || person_id == ""){
        BootstrapDialog.alert("Please choose Role and Person");
        return;
      }

      $.ajax({
        url: "<%= action_name.eql?("edit") ? service_schedules_path(@service) : '' %>",
        type: "POST",
        dataType: "json",
        data: {"_method":"post", "role_id" : role_id, "person_id" : person_id},
        success:function(result){
          $("#schedule-id-" + row).val(result.schedule.id);
          $("#schedule-url-path-" + row).val(result.url);
          $("#save-button-" + row).remove();
        },
        error: function(xhr){
          var json = JSON.parse(xhr.responseText);
          BootstrapDialog.alert(json.errors);
        }
      });
    }


    function deletePersonRow(row){

      if($("#schedule-id-" + row).val() == ''){
        $("#person-row-" + row).remove();
        return;
      }

      if($("#isconfirmed-" + row).val() == 'false'){

        BootstrapDialog.confirm('Are you sure to delete this schedule?', function(result){
            if(result) {
              <% if action_name.eql?("edit") %>
              $.ajax({
                url: $("#schedule-url-path-" + row).val() ,
                type: "DELETE",
                // dataType: "json",
                data: {"_method":"delete"}
              });
              <% end %>

              $("#person-row-" + row).remove();
            }
        });

      }
    }

    <% if action_name.eql?("new") %>
    function deleteAllPeople(){
      if(window.confirm("Are you sure? This is not undo-able!")){
          for(var x = 0; x <= personRowCount; x++){
            deletePersonRow(x);
          }
      }
    }
    <% end %>

</script>

<div class="container">
  <%= form_for @service, :html => {:role => "form", :class => "form-horizontal"} do |s| %>
    <div class="row">
        <% if @service.errors.any? %>
          <div id="error_explanation">
            <%= pluralize(@service.errors.count, "error") %> prohibited this post from being saved:
            <ul>
              <% @service.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <div class="col-md-6">
        <div style="padding-top: 10px; padding-bottom: 20px;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Details</h3>
            </div>

            <div class="panel-body">
                <div class="form-group">
                  <div class="col-xs-12">
                    <%= s.label :name, :for => "serviceName" %>
                    <%= s.text_field :name, :class => "form-control", :id => "serviceName", :placeholder => "Enter Service Name" %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <%= s.label :description, :for => "serviceDescription" %>
                    <%= s.text_area :description, :class => "form-control", :id => "serviceDescription", :placeholder => "Description", :rows => 10 %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-4">
                    <%= s.label :date, :for => "serviceDate" %>
                    <%= s.text_field :date, :class => "form-control datepicker-field", :id => "serviceDate"%>
                  </div>
                </div>
                <%= s.submit :class => "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div style="padding-top: 10px; padding-bottom: 20px;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Attachments & Resources
                <a  href="javascript: " rel="tooltip" title="Upload your attachment in external services such as dropbox.com & box.com, and paste the download URL below" data-placement="right">
                  [?]
                </a>
              </h3>
            </div>

            <div class="panel-body">
              <div align="right" style="padding-top: 10px; padding-bottom: 20px;">
                <a href="javascript: " onclick="createAttachmentRow()" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-plus"></span> Add More Row
                </a>

                <% if action_name.eql?("new") %>
                <a href="javascript: " onclick="deleteAllAttachments()" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-minus"></span> Delete All Rows
                </a>
                <% end %>
              </div>


              <div id="attachments-div">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div style="padding-top: 10px; padding-bottom: 20px;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Choose People Involved</h3>
            </div>

            <div class="panel-body">

              <div align="right" style="padding-top: 10px; padding-bottom: 20px;">
                <a href="javascript: " onclick="newPerson();" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-plus"></span> New Person
                </a>
                <% if action_name.eql?("new") %>
                <a href="javascript: " onclick="deleteAllPeople();" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-minus"></span> Delete All
                </a>
                <% end %>
              </div>

              <table class="table table-hover table-bordered" id="person-incharge-table">
                <thead>
                  <tr>
                      <th colspan=2>Role</th>
                      <th colspan=2>Person</th>
                      <th>#</th>
                      <th>Status</th>
                  </tr>
                </thead>

                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
