 <script type="text/javascript">
    $( document ).ready(function() {
      console.log("Document Ready. Add one row to 'person-incharge-table' table")
      addRow();
    });

    var rowCount = 0;
    function getRow(){
      rowCount += 1;
      return "<tr id=row-"+ rowCount +" class=\'content\'>"+
                "<td>" +
                  "<span id=role-text-"+ rowCount +" ></span>" +
                  "<input type=hidden id=role-id-"+ rowCount +" name=service[role]["+ rowCount +"] />" +
                "</td>" +
                "<td><a href='javascript:' onclick='pop_role("+ rowCount +")'>[Choose Role]</a></td>" +
                "<td>" +
                  "<span id=person-text-"+ rowCount +" ></span>" +
                  "<input type=hidden id=person-id-"+ rowCount +" name=service[person]["+ rowCount +"] />" +
                "</td>" +
                "<td><a href='javascript:' onclick='pop_people(" + rowCount + ")'>[Choose Person]</a></td>" +
                "<td><a href=javascript:deleteRow("+ rowCount +")>[Remove Row]</a></td>" +
              "</tr>";
    }

    function pop_role(rowCount){
      pop("<%= popup_roles_path %>?target="+ rowCount +"&name=role");
    }

    function pop_people(rowCount){
      var roleValue = document.getElementById("role-id-" + rowCount).value;

      if(roleValue == ""){
        alert("Please Choose 'Role' first");
        return;
      }

      pop("<%= popup_people_path %>?target="+ rowCount +"&name=person&role=" + roleValue);
    }

    function addRow(){
      $('#person-incharge-table').append(getRow());
    }

    function deleteRow(row){
      $("#row-" + row).remove();
    }

    function deleteAllRows(){
      if(window.confirm("Are you sure? This is not undo-able!")){
          for(var x = 0; x <= rowCount; x++){
            deleteRow(x);
          }
      }
    }
</script>

<%= form_for @service do |s| %>
  <p>
    <%= s.label :name %> </br>
    <%= s.text_field :name %>
  </p>
  <p>
    <%= s.label :description %> </br>
    <%= s.text_field :description %>
  </p>
  <p>
    <%= s.label :date %> </br>
    <%= s.text_field :date, :type => "date" %>
  </p>
  <p>
    <%= s.submit %>
  </p>

  <br/>

  <a href="javascript: addRow();">[Add More]</a> | <a href="javascript: deleteAllRows();">[Delete All Rows]</a>
  <table width="50%" border="1" id="person-incharge-table">
    <tr>
        <td colspan=2>Role</td>
        <td colspan=2>Person</td>
        <td>#</td>
    </tr>
  </table>

<% end %>
