 <script type="text/javascript">
    var row = 0;

    $( document ).ready(function() {
      console.log("Document Ready. Add one row to 'person-incharge-table' table.. row = " + row);

      <% @service.schedules.each do |s| %>
      addRow("<%= s.role.name %>", "<%= s.role.id %>", "<%= s.person.name %>", "<%= s.person.id %>");
      <% end %>

    });

    function getRow(role, roleID, person, personID){

      role = (role == undefined) ? "" : role;
      roleID = (roleID == undefined) ? "" : roleID;
      person = (person == undefined) ? "" : person;
      personID = (personID == undefined) ? "" : personID;

      row += 1;
      return "<tr id=row-"+ row +" class=\'content\'>"+
                "<td>" +
                  "<span id=role-text-"+ row +" >"+ role +"</span>" +
                  "<input type=hidden id=role-id-"+ row +" name=service[role][] value=\""+ roleID +"\" />" +
                "</td>" +
                "<td><a href='javascript:' onclick='pop_role("+ row +")'>[Choose Role]</a></td>" +
                "<td>" +
                  "<span id=person-text-"+ row +" >"+ person +"</span>" +
                  "<input type=hidden id=person-id-"+ row +" name=service[person][] value=\""+ personID +"\" />" +
                "</td>" +
                "<td><a href='javascript:' onclick='pop_people(" + row + ")'>[Choose Person]</a></td>" +
                "<td><a href=javascript:deleteRow("+ row +")>[Remove Row]</a></td>" +
              "</tr>";
    }

    function pop_role(row){
      pop("<%= popup_roles_path %>?target="+ row +"&name=role");
    }

    function pop_people(row){
      var roleValue = document.getElementById("role-id-" + row).value;

      if(roleValue == ""){
        alert("Please Choose 'Role' first");
        return;
      }

      pop("<%= popup_people_path %>?target="+ row +"&name=person&role=" + roleValue);
    }

    function addRow(role, roleID, person, personID){
      $('#person-incharge-table').append(getRow(role, roleID, person, personID));
    }

    function deleteRow(row){
      $("#row-" + row).remove();
    }

    function deleteAllRows(){
      if(window.confirm("Are you sure? This is not undo-able!")){
          for(var x = 0; x <= row; x++){
            deleteRow(x);
          }
      }
    }
</script>

<%= form_for @service do |s| %>
  <p>
    <%= s.label :name %> </br>
    <%= s.text_field :name %>
  </p>
  <p>
    <%= s.label :description %> </br>
    <%= s.text_field :description %>
  </p>
  <p>
    <%= s.label :date %> </br>
    <%= s.text_field :date, :type => "date" %>
  </p>
  <p>
    <%= s.submit %>
  </p>

  <br/>

  <a href="javascript: " onclick="addRow();">[Add More]</a> | <a href="javascript: " onclick="deleteAllRows();">[Delete All Rows]</a>
  <table width="50%" border="1" id="person-incharge-table">
    <tr>
        <td colspan=2>Role</td>
        <td colspan=2>Person</td>
        <td>#</td>
    </tr>
  </table>

<% end %>
