<h3>Service Available</h3>

<h5><%= link_to '[Add New]', new_service_path %></h5>

<table width="25%" border="1">
	<tr>
		<td>#</td>
		<td>Name</td>
		<td>Desc</td>
		<td>Date</td>
	</tr>

	<% @services.each do |a| %>
	<tr>
		<td>
			<%= link_to 'Detail', service_path(a) %>
			<%= link_to 'Edit', edit_service_path(a) %>
			<%= link_to 'Destory', service_path(a), method: :delete, data: {confirm: 'Are you sure want to delete this service?'} %>
		</td>
		<td><%= a.name %></td>
		<td><%= a.description %></td>
		<td><%= a.date %></td>
	</tr>
	<% end %>
</table>
