<h3>Service Details</h3>

<div class="row">
  <div class="col-md-8">

    <% if person_signed_in? && (@service.created_by == current_person || current_person.admin?) %>
    <div style="padding-top: 10px; padding-bottom: 20px;">
      <a href="<%= edit_service_path(@service) %>" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-edit"></span> Edit
      </a>
      <a href="javascript: void(0)" class="btn btn-default btn-xs js-show-service-delete" service-url="<%= service_path(@service) %>">
        <span class="glyphicon glyphicon-remove-circle"></span> Delete
      </a>
    </div>
    <% end %>

    <p>
      <strong>Name:</strong>
      <%= @service.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @service.description %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= format_date(@service.date) %>
    </p>

    <p>
      <strong>Managed By:</strong>
      <%= @service.created_by.name %>
    </p>

    <strong>Attachments & Resources: </strong>

    <ul>
      <% @service.attachments.each do |a| %>
      <li><a href="<%= a.url %>"><%= a.name %></a></li>
      <% end %>
    </ul>

    <%# Proposing change schedule - modal dialog %>
    <form id="propose-change-schedule-form">
      <div class="modal fade" id="propose-change-schedule-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Ask for help from other <span id="schedule-role-type"></span> fellas</h4>
            </div>
            <div class="modal-body">
              <ul class="person_with_same_skillsets">
              </ul>
            </div>

            <div class="modal-footer">
              <a href="" class="btn btn-primary js-propose-change-schedule-button">Propose</a>
            </div>
          </div>
        </div>
      </div>
    </form>

    <table class="table table-hover table-bordered" id="person-incharge-table">
      <thead>
        <tr>
          <th>Role</th>
          <th>Person</th>
          <th>#</th>
        </tr>
      </thead>

      <tbody>
      <% @service.schedules.each do |s| %>
        <tr class="<%= "danger" if s.rejected? %>">
            <td><%= s.role.name %></td>
            <td>
              <%= s.person.name %>
            </td>
            <td>

          <% if s.confirmed? %>
            <i class="fa fa-check-square-o"></i> Confirmed
          <% elsif s.person == current_person && s.waiting? %>
            <input type="hidden" id="current-person-schedule-id" value="<%= s.random_id %>"/>
            <input type="hidden" id="current-schedule-id" value="<%= s.service.id %>"/>

            <a href="javascript:" class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirm-schedule-modal-<%= s.id %>" rel="tooltip" title="Confirm / Reject?" data-placement="top">
              <i class="glyphicon glyphicon-ok"></i>
            </a>

            <a href="javascript:" id="propose-change-schedule-link" class="btn btn-default btn-xs" rel="tooltip" title="Propose to change this schedule" data-placement="top">
              <i class="glyphicon glyphicon-calendar"></i>
            </a>

          <% elsif s.rejected? %>
              <i class="fa fa-minus-square"></i> Rejected
          <% else %>
              <i class="fa fa-circle-o-notch fa-spin"></i> Waiting
          <% end %>

            <% if s.person == current_person && s.waiting? %>

              <div class="modal fade" id="confirm-schedule-modal-<%= s.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Your schedule details</h4>
                    </div>
                    <div class="modal-body">
                      <p><strong>Service Name:</strong> <%= s.service.name %></p>
                      <p><strong>Role:</strong> <%= s.role.name.capitalize %></p>
                      <p><strong>Description:</strong> <%= s.service.description %></p>
                      <p><strong>Date:</strong> <%= format_date(s.service.date) %></p>
                    </div>

                    <div class="modal-footer">

                      <a href="<%= profile_schedule_confirm_path(s) %>" class="btn btn-primary">Confirm</a>
                      <a data-toggle="collapse" data-parent="#accordion-<%= s.id %>" href="#collapseOne-<%= s.id %>" class="btn btn-default">
                        Reject
                      </a>

                      <div class="panel-group" id="accordion-<%= s.id %>">
                        <div>
                          <div id="collapseOne-<%= s.id %>" class="panel-collapse collapse">
                            <div class="panel-body">

                              <%= form_for s, :url => profile_schedule_reject_path(s), :html => {:role => "form", :class => "form-horizontal"} do |p| %>

                                <div class="form-group">
                                  <%= p.text_area :reasons, :class => "form-control", :placeholder => "Please write what are your reason?" %>
                                </div>
                                <div class="form-group">
                                  <%= p.submit "Confirm Reject", :class => "btn btn-warning" %>
                                </div>

                              <% end %>

                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </td>
        </tr>
      <% end %>
      </tbody>

    </table>
  </div>
  <div class="col-md-4">
    <% unless @activities.blank? %>
      <ul class="timeline">
          <% @activities.each do |activity| %>
            <%= render_activity activity %>
          <% end %>
          <%# FOR ANOTHER SAMPLE PLEASE SEE : http://bootsnipp.com/snippets/featured/timeline-responsive %>
      </ul>

      <%= render :partial => "partials/paginator", :locals => {:paginated_object => @activities} %>
    <% end %>
  </div>
</div>
