<h3>Service Details</h3>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @service.date %>
</p>

<table class="table table-hover table-bordered" id="person-incharge-table">
  <thead>
    <tr>
      <th>Role</th>
      <th>Person</th>
    </tr>
  </thead>

  <tbody>
  <% @service.schedules.each do |s| %>
    <tr>
        <td><%= s.role.name %></td>
        <td><%= s.person.name %></td>
    </tr>
  <% end %>
  </tbody>

</table>
