<h3>Service Details</h3>

<div class="row">
  <div class="col-md-8">

    <% if person_signed_in? && (current_person.manager? || current_person.admin?) %>
    <div style="padding-top: 10px; padding-bottom: 20px;">
      <a href="<%= edit_service_path(@service) %>" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-edit"></span> Edit
      </a>
    </div>
    <% end %>

    <p>
      <strong>Name:</strong>
      <%= @service.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @service.description %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @service.date %>
    </p>
    <strong>Attachments & Resources:</strong>
    <ul>
      <% @service.attachments.each do |a| %>
      <li><a href="<%= a.url %>"><%= a.name %></a></li>
      <% end %>
    </ul>

    <table class="table table-hover table-bordered" id="person-incharge-table">
      <thead>
        <tr>
          <th>Role</th>
          <th>Person</th>
          <th>#</th>
        </tr>
      </thead>

      <tbody>
      <% @service.schedules.each do |s| %>
        <tr>
            <td><%= s.role.name %></td>
            <td>
              <%= s.person.name %>
            </td>
            <td>

          <% if s.is_confirmed? %>
            Confirmed at <%= s.confirmed_at %>
          <% elsif s.person == current_person && s.confirmed_at.blank? %>
            <a href="javascript:" class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirm-schedule-modal-<%= s.id %>">
              Confirm / Reject?
            </a>
          <% elsif !s.confirmed_at.blank? && !s.is_confirmed? %>
              Rejected
          <% else %>
              Waiting
          <% end %>

            <% if s.person == current_person && s.confirmed_at.blank? %>

              <div class="modal fade" id="confirm-schedule-modal-<%= s.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Your schedule details</h4>
                    </div>
                    <div class="modal-body">
                      <p><strong>Service Name:</strong> <%= s.service.name %></p>
                      <p><strong>Role:</strong> <%= s.role.name.capitalize %></p>
                      <p><strong>Description:</strong> <%= s.service.description %></p>
                      <p><strong>Date:</strong> <%= s.service.date %></p>
                    </div>

                    <div class="modal-footer">

                      <a href="<%= profile_schedule_confirm_path(s) %>" class="btn btn-primary">Confirm</a>
                      <a data-toggle="collapse" data-parent="#accordion-<%= s.id %>" href="#collapseOne-<%= s.id %>" class="btn btn-default">
                        Reject
                      </a>

                      <div class="panel-group" id="accordion-<%= s.id %>">
                        <div>
                          <div id="collapseOne-<%= s.id %>" class="panel-collapse collapse">
                            <div class="panel-body">

                              <%= form_for s, :url => profile_schedule_reject_path(s), :html => {:role => "form", :class => "form-horizontal"} do |p| %>

                                <div class="form-group">
                                  <%= p.text_area :reasons, :class => "form-control", :placeholder => "Please write what are your reason?" %>
                                </div>
                                <div class="form-group">
                                  <%= p.submit "Confirm Reject", :class => "btn btn-warning" %>
                                </div>

                              <% end %>

                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </td>
        </tr>
      <% end %>
      </tbody>

    </table>
  </div>
  <div class="col-md-4">

    <% unless @activities.blank? %>
      <ul class="timeline">
          <% @activities.each do |activity| %>
            <%= render_activity activity %>
          <% end %>
          <%# FOR ANOTHER SAMPLE PLEASE SEE : http://bootsnipp.com/snippets/featured/timeline-responsive %>
      </ul>

      <%= render :partial => "partials/paginator", :locals => {:paginated_object => @activities} %>
    <% end %>
  </div>
</div>
