<div class="container">
	<div class="row">
		<div class="row">
					<div class="col-xs-12 col-sm-8">
							<h3><%= current_person.name %></h3>
							<p><%= current_person.email %> </p>
							<p>Member for <%= time_ago_in_words(current_person.created_at, include_seconds: true)  %> since <%= current_person.created_at.strftime("%F") %> </p>
							<p>
								<% current_person.skillsets.each do |s| %>
								<span class="label label-info tags"><%= s.role.name %></span>
								<% end %>
							</p>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-cog"></i> Option <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="<%= profile_edit_path %>">Edit</a></li>

									<% if current_person.admin? %>
									<li class="divider"></li>
									<li><a href="#">Approve</a></li>
									<li><a href="#">Delete</a></li>
									<% end %>
								</ul>
							</div>

					</div>
					<div class="col-xs-12 col-sm-4 text-center">
									<img src="<%= parse_avatar %>" alt="" class="center-block img-circle img-responsive profilePicture-normal">
									<h4><span class="badge"><%= current_person.role.capitalize %></span></h4>
					</div>
				<!--
					<div class="col-xs-12 col-sm-4">
							<h2><strong> 20,7K </strong></h2>
							<p><small>Followers</small></p>
							<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
					</div>
					<div class="col-xs-12 col-sm-4">
							<h2><strong>245</strong></h2>
							<p><small>Following</small></p>
							<button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
					</div>
					<div class="col-xs-12 col-sm-4">
							<h2><strong>43</strong></h2>
							<p><small>Snippets</small></p>
							<button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
					</div>
				-->
		</div>
	</div>
</div>
