<h3>Resend confirmation instructions</h3>

<div class="row">
  <div class="col-md-6">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :role => "form", :class => "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <div class="col-xs-8">
          <%= f.label :email, :for => "email" %>
          <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "email", :placeholder => "Enter Your Email" %>
        </div>
      </div>

      <div><%= f.submit "Resend confirmation instructions", :class => "btn btn-default"  %></div>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render "devise/shared/links" %>
  </div>
</div>
