<%
json = JSON.parse(activity.parameters[:model_details])
service_name = activity.parameters[:service_name]
role_name = activity.parameters[:role_name]
%>

<li>
  <div class="timeline-badge info"><i class="glyphicon glyphicon-list-alt"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">
      </h4>
    </div>
    <div class="timeline-body">
      <div class="media">
          <a class=" pull-left" href="#">
              <%= render "partials/avatar", person: activity.owner, width: 40, height: 40, css: "img-circle profilePicture-medium" %>
          </a>
          <div class="media-body">
              <strong><%= activity.owner.name %></strong> has confirmed

              <% if activity.trackable.nil? %>
              <s><%= service_name %></s> <em>(which has been deleted)</em> as <%= role_name %>
              <% else %>
              <a href="<%= service_path(activity.trackable.service) %>">
              <%= activity.trackable.service.name %> as <%= activity.trackable.role.name %>
              </a>
              <% end %>

          </div>
      </div>

      <hr>

      <small>
        Confirmed
        <span class="text-muted">
          <i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(activity.created_at, include_seconds: true) %> ago
        </span>

      </small>
    </div>
  </div>
</li>
