<li>
  <div class="timeline-badge info"><i class="glyphicon glyphicon-list-alt"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">
      </h4>
    </div>
    <div class="timeline-body">
      <div class="media">
          <a class=" pull-left" href="#">
              <img src="<%= image_path(parse_avatar(activity.owner)) %>" class="img-circle profilePicture-medium"/>
          </a>
          <div class="media-body">
              <strong><%= activity.owner.name %></strong> has confirmed
              <a href="<%= service_path(activity.trackable.service) %>">
              <%= activity.trackable.service.name %>
              </a>
              as <%= activity.trackable.role.name %>
          </div>
      </div>

      <hr>

      <small>
        Confirmed
        <span class="text-muted">
          <i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(activity.created_at, include_seconds: true) %> ago
        </span>

      </small>
    </div>
  </div>
</li>
