<%
  json = JSON.parse(activity.parameters[:model_details])
  role_name = activity.parameters[:role_name]
  service_name = activity.parameters[:service_name]
  reasons = activity.parameters[:reasons]
%>

<li>
  <div class="timeline-badge danger"><i class="glyphicon glyphicon-list-alt"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">
      </h4>
    </div>
    <div class="timeline-body">
      <div class="media">
          <a class=" pull-left" href="#">
              <%= render "partials/avatar", person: activity.owner, width: 40, height: 40, css: "img-circle profilePicture-medium" %>
          </a>
          <div class="media-body">
              <strong><%= activity.owner.name %></strong> rejected

              <a href="<%= service_path(json["service_id"]) %>">
              <%= service_name %>
              </a>
              as
              <%= role_name %>

              <blockquote class="blockquote-reverse"><small><em><%= json["reasons"] %></em></small></blockquote>
          </div>
      </div>

      <hr>

      <small>
        Rejected
        <span class="text-muted">
          <i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(activity.created_at, include_seconds: true) %> ago
        </span>

      </small>
    </div>
  </div>
</li>
