<%= form_for @person do |p| %>
  <p>
    <%= p.label :name %> </br>
    <%= p.text_field :name %>
  </p>
  <p>
    <%= p.submit %>
  </p>

  <% for role in Role.all %>
    <%= check_box_tag "person[skillsets][]", role.id, @person.skillsets.map(&:role_id).include?(role.id) %>
    <%= role.name %> 
  <% end %>
<% end %>
