<%= form_for @person, :html => {:role => "form"} do |p| %>

  <div class="form-group">
    <%= p.label :name, :for => "peopleName" %>
    <%= p.text_field :name, :class => "form-control", :id => "peopleName", :placeholder => "Enter Name" %>
  </div>

  <div class="form-group">
    <%= p.label "Skillsets"%>
    <div class="checkbox">
      <% for role in Role.all %>
        <label>
          <%= check_box_tag "person[skillsets][]", role.id, @person.skillsets.map(&:role_id).include?(role.id) %> <%= role.name %>
        </label>
      <% end %>
    </div>
  </div>

  <%= p.submit :class => "btn btn-default" %>
<% end %>
