<h3>People Available</h3>

<div style="padding-top: 10px; padding-bottom: 20px;">
  <a href="<%= new_person_path %>" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-plus"></span> Add
  </a>
</div>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Skillsets</th>
      <th>Role</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |p| %>
    <tr <%= "class=danger" unless p.is_approved? %>>
      <td><%= p.name %></td>
      <td><%= p.skillsets.map(&:role).map(&:name).join(", ") %></td>
      <td><%= p.role %></td>
      <td>
        <div class="btn-group">

          <%= "Admin Account" if p.admin? %>

          <% unless p.admin? %>
            <!--
            <a href="<%= person_path(p) %>" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-eye-open"></span> View
            </a>
          -->
            <a href="<%= edit_person_path(p) %>" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
            <a data-confirm="Are you sure want to delete this person?" data-method="delete" href="<%= person_path(p) %>" rel="nofollow" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-remove-circle"></span> Delete
            </a>

            <% unless p.is_approved %>
            <a href="<%= approve_person_path(p) %>" rel="nofollow" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-thumbs-up"></span> Approve
            </a>
            <% end %>

          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
