<h3>Members</h3>

<div style="padding-top: 10px; padding-bottom: 20px;">
  <a href="<%= new_person_path %>" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-plus"></span> Add Person
  </a>
</div>


<div class="container">
    <div class="row">
      <% @people.each do |p| %>
      <div class="col-md-4">
          <div class="well well-sm">
              <div class="media">

                  <a class="thumbnail pull-left" href="#">
                      <%= render "partials/avatar", person: p, width: 40, height: 40, css: "media-object profilePicture-medium" %>
                      <div align="center"><small><%= p.role %></small></div>
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading">
                        <% if p.provider == 'facebook' %>
                          <b class="fa fa-facebook-square"> </b> </a>
                        <% elsif p.provider == 'twitter' %>
                          <b class="fa fa-twitter-square"> </b> </a>
                        <% end %>
                        <%= p.name %>
                      </h4>
                      <p>
                        <% p.skillsets.each do |skill| %>
                        <span class="label label-primary"><%= skill.role.name.capitalize %></span>
                        <% end %>
                      </p>
                      <p>
                          <% if current_person.admin? %>
                          <a href="<%= update_level_person_path(p, p.role) %>" person-id="<%= p.id %>" class="person_level_text btn btn-xs btn-default"><span class="glyphicon glyphicon-tower"></span> Level</a>
                          <% end %>

                          <a href="<%= person_path(p) %>" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                          <a href="<%= edit_person_path(p) %>" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit"></span> Edit</a>

                          <% unless p.admin? %>

                            <% if p.is_approved? %>
                              <a href="javascript: " class="btn btn-xs btn-default">
                                Approved
                              </a>
                              <!-- <span class="glyphicon glyphicon-ban-circle"></span> Reject -->
                            <% else %>
                              <a href="<%= p.confirmed_at.blank? ? "javascript:" : approve_person_path(p) %>" class="btn btn-xs btn-default"

                                <% if p.confirmed_at.blank? %>
                                rel="tooltip" title="Granting access prohibited (Unconfirmed Account)"
                                <% end %>
                                >

                                <span class="glyphicon glyphicon-ok-circle"></span> Grant
                              </a>
                            <% end %>

                          <% end %>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <% end %>

  </div>
</div>

<%= render 'level_list' %>
