<!DOCTYPE html>
<html>
<head>
	<title>Sonatask - Scheduling System</title>
	<meta name="google-site-verification" content="roxLa8xoHuaKJaIl1YI2vV1UozFq-W1WRGjoTLPcP04" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

	<link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenMax.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="landing-body">

	<div class="container">
      <div class="row vertical-offset-100">
          <div class="col-md-4 col-md-offset-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <div class="row-fluid user-row">
                          <img src="<%= image_path("logo.png") %>" class="img-responsive" alt="Conxole Admin"/>
                      </div>
                  </div>
                  <div class="panel-body">
											<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:role => "form", :class => "form-horizontal form-signin"}) do |f| %>
                          <fieldset>
                              <label class="panel-login">
                                  <div class="login_result"></div>
                              </label>
															<%= f.label :email, :for => "email"  %>
															<%= f.email_field :email, autofocus: true, :class => "form-control", :id => "email", :placeholder => "Enter Your Email", :required => "required"%>
															<%= f.label :password, :for => "password"  %>
															<%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "password" %>

															<%= f.submit "Log in »", :class => "btn btn-lg btn-success btn-block", :id => "login" %>
															<br>
															<p class="text-center small">
																	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
																		<a href="<%= new_person_registration_path %>">Register to join</a> |
																	<% end %>

																	<a href="<%= new_person_password_path %>">Forgot your password?</a>

																	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
																	<br/>
																	<a href="<%= new_person_confirmation_path %>">Didn't receive confirmation instructions?</a>
																	<% end %>
															</p>
                          </fieldset>
											<% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>


	<p id="footer" class="text-center text-muted small" style="color: #000000">
			<span style="color: #ddddcc">Created with <i class="fa fa-heart"></i> by : @edwardfernando</span><br/>
			Questions and suggestions : <i class="fa fa-envelope-o"></i> edward.fer@gmail.com
	</p>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1637663-2', 'auto');
  ga('send', 'pageview');

</script>

</html>
