<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |a| %>
    <tr>
      <td><%= a.name %></td>
      <td>
        <a href="javascript: " onclick="choose('<%= params[:name] %>', '<%= params[:target] %>', '<%= a.id %>', '<%= a.name %>');" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-import"></span> Choose
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
