<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td>
        <a href="javascript: " onclick="choose('<%= params[:name] %>', '<%= params[:target] %>', '<%= p.id %>', '<%= p.name %>');" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-import"></span> Choose
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
