<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Members</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |p| %>
    <tr>
      <td>
        <a href="javascript: " rel="tooltip" title="Choose <%= p.name %>" data-placement="bottom" onclick="choose('<%= params[:name] %>', '<%= params[:target] %>', '<%= p.id %>', '<%= p.name %>');" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-import"></span>
        </a>
        <%= p.name %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
