<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Roles</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |a| %>
    <tr>
      <td>
        <a href="javascript: " rel="tooltip" title="Choose <%= a.name %>" data-placement="bottom" onclick="choose('<%= params[:name] %>', '<%= params[:target] %>', '<%= a.id %>', '<%= a.name %>');" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-import"></span>
        </a>
        <%= a.name %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
