<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:role => "form", :class => "form-horizontal"}) do |f| %>


  <div class="form-group">
    <div class="col-xs-8">
      <%= f.label :email, :for => "email"  %>
      <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "email", :placeholder => "Enter Your Email" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-8">
      <%= f.label :password, :for => "password"  %>
      <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div>
    <%= f.submit "Log in", :class => "btn btn-default"  %>
  </div>
<% end %>
