<h3><%= t 'devise.invitations.edit.header' %></h3>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, :class => "form-horizontal"} do |f| %>

        <% if resource.errors.any? %>
          <div id="error_explanation">

            <%= pluralize(@person.errors.count, "error") %> prohibited this post from being saved:
            <ul>
              <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>

          </div>
        <% end %>

        <%= f.hidden_field :invitation_token %>

        <div class="form-group">
          <div class="col-xs-8">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-8">
            <%= f.label :password %>
            <%= f.password_field :password, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-8">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "form-control" %>
          </div>
        </div>

        <p><%= f.submit t("devise.invitations.edit.submit_button"), :class => "btn btn-default" %></p>

        <% end %>
      </div>
    </div>
  </div>
