<!DOCTYPE html>
<html>
<head>
  <title>Sonata - Musicians & Singers Scheduling System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <%= link_to "Sonata", root_path, :class => 'navbar-brand' %>

      <button class="navbar-toggle btn btn-default" data-toggle="collapse" data-target=".navHeaderCollapse">
         <span class="glyphicon glyphicon-th"></span>
      </button>

      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">

          <% if person_signed_in? %>
          <li <% if params[:controller] == "people" && params[:action] == "profile" %> class="active" <% end %>>
            <%= link_to "My Profile", profile_path %>
          </li>
          <% end %>

          <li <% if params[:controller] == "services" %> class="active" <% end %>>
            <%= link_to "General Service", services_path %>
          </li>

          <% if person_signed_in? && (current_person.manager? || current_person.admin?) %>

          <li <% if params[:controller] == "people" && params[:action] == "index" %> class="active" <% end %>>
            <%= link_to "People", people_path %>
          </li>

          <% end %>

          <% if person_signed_in? && current_person.admin? %>

          <li <% if params[:controller] == "roles" %> class="active" <% end %>>
            <%= link_to "Roles", roles_path %>
          </li>

          <% end %>

          <%= render 'partials/login_button' %>

        </ul>
      </div>
    </div>
  </div>

  <div class="container">

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
  	    <div class="alert alert-<%= name == :notice ? "success" : name %>">
  	      <a class="close" data-dismiss="alert">&#215;</a>
  	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  	    </div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
