<!DOCTYPE html>
<html>
<head>
  <title>Sonata - Musicians & Singers Scheduling System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script>
  $(function() {
    $( ".datepicker-field" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: "yy-mm-dd"
    });
  });

  function pop(url) {
    w = 600;
    h = 600;
    wLeft = window.screenLeft ? window.screenLeft : window.screenX;
    wTop = window.screenTop ? window.screenTop : window.screenY;

    var left = wLeft + (window.innerWidth / 2) - (w / 2);
    var top = wTop + (window.innerHeight / 2) - (h / 2);

    window.open(url, "Sonata", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
  }

  </script>
</head>
<body>

<h3 align="center">Sonata - Musicians & Singers Scheduling System</h3>

<center>

<%= link_to 'Home', root_path %> |
<%= link_to "General Service", services_path %> |
<%= link_to "People", people_path %> |
<%= link_to "Roles", roles_path %>

</center>

<%= yield %>

</body>
</html>
