<!DOCTYPE html>
<html>
<head>
  <title>Sonata - Musicians & Singers Scheduling System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script>
  $(function() {
    $( ".datepicker-field" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: "yy-mm-dd"
    });
  });

  function pop(url) {
    w = 600;
    h = 600;
    wLeft = window.screenLeft ? window.screenLeft : window.screenX;
    wTop = window.screenTop ? window.screenTop : window.screenY;

    var left = wLeft + (window.innerWidth / 2) - (w / 2);
    var top = wTop + (window.innerHeight / 2) - (h / 2);

    window.open(url, "Sonata", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
  }

  </script>
</head>
<body style="padding-top: 50px;">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
            <li <% if params[:controller] == "welcome" %> class="active" <% end %>>
              <%= link_to 'Sonata', root_path %>
            </li>
            <li <% if params[:controller] == "services" %> class="active" <% end %>>
              <%= link_to "General Service", services_path %>
            </li>
            <li <% if params[:controller] == "people" %> class="active" <% end %>>
              <%= link_to "People", people_path %>
            </li>
            <li <% if params[:controller] == "roles" %> class="active" <% end %>>
              <%= link_to "Roles", roles_path %>
            </li>
          </ul>
    </div>
  </nav>



  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
