<!DOCTYPE html>
<html>
<head>
  <title>Sonatask - Scheduling System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">
          <img src="<%= image_path("logo_small.png") %>"/>
      </a>

      <button class="navbar-toggle btn btn-default" data-toggle="collapse" data-target=".navHeaderCollapse">
         <span class="glyphicon glyphicon-th"></span>
      </button>

      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">

          <% if person_signed_in? %>
          <li>
            <a  href="javascript: " class="dropdown-toggle" data-toggle= "dropdown" rel="tooltip" title="Your unconfirmed schedules" data-placement="bottom">
              <span class="label label-primary"><%= get_unconfirmed_schedules %></span> <b class="caret"></b>
            </a>

            <% if get_unconfirmed_schedules > 0 %>
            <ul class="dropdown-menu">
            <% current_person.schedules.each do |schedule|
                if schedule.confirmed_at.nil? %>

              <li><a href="<%= service_path(schedule.service) %>"> <%= schedule.service.name %></a></li>

            <% end
            end %>
            </ul>
            <% end %>
          </li>

          <li <% if params[:controller] == "profiles" %> class="active" <% end %>>
              <a href="<%= profile_path %>">
                <img src="<%= image_path(parse_avatar(current_person)) %>" class="img-circle profilePicture-small">  Me
              </a>
              <!-- <a  href="javascript: " class="dropdown-toggle" data-toggle= "dropdown">
                <img src="<%= current_person.avatar_url %>" class="img-circle profilePicture-small">  Me <b class="caret"></b>
              </a>

              <ul class="dropdown-menu">
                <li><a href="<%= profile_path %>"><b class="fa fa-<%= current_person.provider %>-square"> </b> Profile</a></li>
                <li><a href="<%= profile_schedule_path %>"><b class="fa fa-table"> </b> Schedule</a></li>
              </ul> -->
          </li>

          <% end %>

          <li <% if params[:controller] == "services" %> class="active" <% end %>>
            <%= link_to "General Service", services_path %>
          </li>

          <% if person_signed_in? && (current_person.manager? || current_person.admin?) %>

          <li <% if params[:controller] == "people" && params[:action] == "index" %> class="active" <% end %>>
            <%= link_to "People", people_path %>
          </li>

          <% end %>

          <% if person_signed_in? && current_person.admin? %>

          <li <% if params[:controller] == "roles" %> class="active" <% end %>>
            <%= link_to "Roles", roles_path %>
          </li>

          <% end %>

          <%= render 'partials/login_button' %>

        </ul>
      </div>
    </div>
  </div>

  <div class="container">

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
  	    <div class="alert alert-<%= name == :notice ? "success" : name %>">
  	      <a class="close" data-dismiss="alert">&#215;</a>
  	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  	    </div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
