<!DOCTYPE html>
<html>
<head>
  <title>Sonata - Musicians & Singers Scheduling System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body style="padding-top: 50px;">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
            <li <% if params[:controller] == "welcome" %> class="active" <% end %>>
              <%= link_to 'Sonata', root_path %>
            </li>
            <li <% if params[:controller] == "services" %> class="active" <% end %>>
              <%= link_to "General Service", services_path %>
            </li>
            <li <% if params[:controller] == "people" %> class="active" <% end %>>
              <%= link_to "People", people_path %>
            </li>
            <li <% if params[:controller] == "roles" %> class="active" <% end %>>
              <%= link_to "Roles", roles_path %>
            </li>
          </ul>
    </div>
  </nav>



  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
