<!DOCTYPE html>
<html>
<head>
  <title>Sonata - Musicians & Singers Scheduling System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3 align="center">Sonata - Musicians & Singers Scheduling System</h3>

<center>

<%= link_to 'Home', root_path %> |
<%= link_to "General Service", services_path %> |
<%= link_to "People", people_path %> |
<%= link_to "Roles", roles_path %>

</center>

<%= yield %>

</body>
</html>
